absl-py==0.2.2
aiohttp==2.3.10
alembic==0.8.10
aniso8601==1.2.0
antiorm==1.2.1
APScheduler==3.3.1
asn1crypto==0.24.0
astor==0.7.1
async-timeout==2.0.1
attrs==17.3.0
Automat==0.6.0
bitarray==0.8.3
bleach==1.5.0
boto==2.48.0
boto3==1.7.55
botocore==1.10.55
bsddb3==6.2.5
bz2file==0.98
cachetools==2.0.1
cairocffi==0.8.0
carbon==1.1.2
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
click==6.7
constantly==15.1.0
copyheaders==0.0.1
croniter==0.3.24
cryptography==2.1.4
cssselect==1.0.1
db==0.1.1
decorator==4.1.2
demjson==2.2.4
dill==0.2.8.2
docker-py==1.10.6
docker-pycreds==0.2.2
docutils==0.14
fake-useragent==0.1.10
fonttools==3.26.0
funcsigs==1.0.0
future==0.15.2
gast==0.2.0
gensim==3.4.0
gitdb2==2.0.3
GitPython==2.1.10
graphite-web==1.1.2
grpcio==1.13.0
gunicorn==19.3.0
html5lib==0.9999999
hyperlink==17.3.1
idna==2.6
idna-ssl==1.0.1
incremental==17.5.0
ipython==6.2.1
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.11.0
jieba==0.39
Jinja2==2.8.1
jmespath==0.9.3
lockfile==0.12.2
lxml==4.6.3
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.0
multidict==4.2.0
neo4j-driver==1.5.3
numpy==1.14.3
ordereddict==1.1
pandas==0.23.0
parsel==1.2.0
parso==0.1.0
pexpect==4.3.0
pickleshare==0.7.4
pkg-resources==0.0.0
prompt-toolkit==1.0.15
protobuf==3.6.0
psutil==4.4.2
ptyprocess==0.5.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
pybloom-live==2.3.2
pycparser==2.18
PyDispatcher==2.0.5
PyExecJS==1.5.1
Pygments==2.2.0
pymongo==3.6.0
PyMySQL==0.7.11
pyOpenSSL==17.5.0
pyparsing==2.2.0
pyquery==1.4.0
python-daemon==2.1.2
python-dateutil==2.6.0
python-editor==1.0.3
python-nvd3==0.14.2
python-slugify==1.1.4
pytz==2017.2
PyYAML==3.12
queuelib==1.4.2
redis==2.10.6
requests==2.20.0
retrying==1.3.3
s3transfer==0.1.13
scandir==1.7
scipy==1.1.0
scrapinghub==2.0.3
Scrapy==1.4.0
scrapy-deltafetch==1.2.1
scrapy-magicfields==1.1.0
scrapy-redis==0.6.8
scrapy-splash==0.7.2
scrapyd==1.2.0
scrapyd-client==1.1.0
selenium==3.8.0
service-identity==17.0.0
setproctitle==1.1.10
shub==2.7.0
simplegeneric==0.8.1
six==1.10.0
smart-open==1.6.0
smmap2==2.0.3
SpiderKeeper==1.2.0
SQLAlchemy==1.1.9
tabulate==0.7.7
termcolor==1.1.0
thrift==0.9.3
tqdm==4.19.8
traitlets==4.3.2
Twisted==17.9.0
txAMQP==0.8.2
tzlocal==1.3
Unidecode==1.0.22
urllib3==1.22
w3lib==1.18.0
wcwidth==0.1.7
websocket-client==0.47.0
Werkzeug==0.12.1
whisper==1.1.2
WTForms==2.2.1
xlrd==1.1.0
yarl==1.2.0
zope.deprecation==4.3.0
zope.interface==4.4.3
